version: "3.9"

services:

  db:
    image: postgres:latest
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=orgniaztional_ticking_api
      - POSTGRES_USER=apk
      - POSTGRES_PASSWORD=apk
    volumes:
      - postgres-data:/var/lib/postgresql/data/

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

volumes:
    postgres-data:
    redis-data:

